.card {
 margin: 32px 0;
 flex: 1;
}

.card__container {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    background:#FFF;
    max-width: 350px;
    position: relative;
    margin: auto;
    height: 100%;
}

.card__Img {
    padding: 16px;
    border-radius: 50px;
    position: absolute;
    /* background: #41A4F5; */
    background: #6610f2;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.card__Img img {
    width: 50px;
}

.card__list {
    padding: 64px 16px 16px;
}

.card__list ul {
    padding: 0;
    text-align: left;
    width: 60%;
    margin: auto;
    padding: 32px 0;
}

.card__list ul li {
    padding: 5px 0;
    color: #58677c;
    font-weight: 500; 
}