.header {
  background: #0a71c6;
  color: #fff;
  text-transform: uppercase;
  position: fixed;
  top: -1px;
  width: 100%;
  z-index: 9999;
}

.header .header__container{
  background: #0a71c6;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  position: relative;
  height: auto;
}

.header button {
  position: relative;
  right: 0;
  left: 40%;
  background: none;
  border: none;
  color: #fff;
  margin: 16px 0;
}

.header button:hover {
  cursor: pointer;
}

.header nav  {
    height: 0px;
    overflow: hidden;
    background: #0a71c6;
    /* transition: height 0.5s; */
}

.header nav.active  {
    height: 100%;
    /* transition: height 0.5s; */
}

.header nav:before  {
  content: "";
    height: 100%;
    background: #0a71c6;
}

.header nav ul {
    width: 100%;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.header nav ul li {
  display: block;
  border-top: 0.5px solid rgba(255, 255, 255,0.8) 
}
.header nav ul li a {
  display: inline-block;
  padding: 18px;
  opacity: 0.7;
  font-weight: 500;
}

.header nav ul li a:hover {
  cursor: pointer;
  opacity: 1;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.header nav ul li a.active {
  opacity: 1;
}

.header .fa-bars {
  font-size: 20px;
}

@media (min-width:650px) {

  .header nav {
    width: 80%;
    margin: auto;
  }

  .header nav ul {
    text-align: right;
    margin: 0;
    list-style-type: none;
    display: inline-block;
  }

  .header nav ul li {
    display: inline-block;
  }
  
  .header .fa-bars {
    display: none;
  }
  .header nav  {
    height: initial;
  }
  .header button {
    display: none;
  }
}